:root{
    --column-width:240px;

    --img-size: calc(var(--column-width)-10px);
}

.basic-grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: auto auto auto;
}



.card img{
    width: var(--img-size);
}

.img {
    grid-row-start: 1;
    grid-row-end: 3;

    grid-column-start:1;
    grid-column-end: 2;
}

.name{
    grid-column-start: 2;
    grid-column-end: 4;

}

.ability{
    grid-column-start: 2;
    grid-column-end: 4;
}

.description{
    grid-column-start: 1;
    grid-column-end: 4;

}

a{
    text-decoration: none;
}

a{
    color: yellow;
}

a:visited{
    color: yellow;
}

@media only screen and (max-width:700px){
    .basic-grid{
        display:flex;
        flex-wrap: wrap;
    }
    .card{
        width:100%;
    }
}